node_modules
.env

apps/api/dist
apps/api/.turbo

apps/client/dist
apps/client/.turbo
apps/client/node_modules
apps/client/.gitignore
apps/client/public/assets/images/propiedades/
apps/client/public/assets/images/usuarios/
*.log